.popupContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f0f2f5;
}

.popupContent {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  background-color: white;
}
