.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Sizes */
.small {
  padding: 4px 12px;
  font-size: 13px;
}

.medium {
  height: 24px;
  line-height: 24px;
  padding:0 10px;
  font-size: 13px;
}

.large {
  padding: 10px 20px;
  font-size: 16px;
}

/* Variants */
.primary {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}


.secondary {
  background-color: white;
  color: #999;
  border-color: #d9d9d9;
}



.danger {
  background-color: var(--color-error);
  color: white;
  border-color: var(--color-error);
}

.danger:hover:not(:disabled) {
  background-color: #ff7875;
  border-color: #ff7875;
}

.danger:active:not(:disabled) {
  background-color: #d9363e;
  border-color: #d9363e;
}

.ghost {
  background-color: transparent;
  color: #262626;
  border-color: transparent;
}

.ghost:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.04);
}

.ghost:active:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.08);
}

/* Block */
.block {
  width: 100%;
}

/* Icon */
.icon {
  display: inline-flex;
  align-items: center;
}
